.navbar-right {
text-align: right;
}

.exoplanet-heading {
    padding: 10px;
    text-align: center;
}

.main-pic-container {
    text-align: center;
}

.exoplanet-main-picture {
    border: 4px solid #4e4f52;
    border-radius: 10px;
    margin-bottom: 20px;
}