{% extends "base.html" %}

{% block title %}
Звезда Барнарда b
{% endblock %}

{% block content %}

<h4 class="heading">Звезда Барнарда b</h4>
<div class="pic-container">
    <img src="../static/images/barnards_star_b_from_afar.jpg"
         class="exoplanet-picture"
         alt="Картинка">
</div>

<p class="text-justify paragraph">
    <strong>Звезда Барнарда b</strong> (англ. Barnard's Star b, GJ 699 b) — экзопланета, суперземля
    и ледяная
    планета, обращающаяся вокруг звезды Барнарда в созвездии Змееносца. Об открытии экзопланеты
    международной группой исследователей, включая астрономов Европейской южной обсерватории и
    Института Карнеги, было официально объявлено 14 ноября 2018 года в журнале Nature. Объект
    является первой подтверждённой планетой на орбите вокруг звезды Барнарда, расположенной на
    расстоянии 6 световых лет от Солнца.
</p>
<div class="pic-container">
    <img src="../static/images/barnards_star_b_artist_view.jpg"
         class="exoplanet-picture "
         alt="Картинка">
    <p>Поверхность суперземли в
        представлении художника</p>

</div>


<p class="text-justify">
    Объект официально остаётся кандидатом в планеты: вероятность того, что объект имеет планетную
    природу, равна 99 %. Группа исследователей, объявивших об открытии, продолжит наблюдения, чтобы
    исключить возможность объяснения переменности блеска и движения звезды какими-либо другими
    причинами.
</p>

{% endblock %}
