<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>{% block title %}{% endblock %}</title>
</head>
<body style="background: #353a40">

<!-- Меню справа сверху -->
{% if which_button == "btn-r-top" %}
<nav class="navbar navbar-light bg-light fixed-top">
    <div class="container">

        <a class="navbar-brand">
            <img src="../static/images/rocket.svg" width="30" height="30"
                 class="d-inline-block align-top" alt="">
            Exoplanets
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarNav_r"
                aria-controls="navbarNav_r" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav_r">
            <ul class="navbar-nav navbar-right">
                <li class="nav-item active">
                    <a class="nav-link" href="/btn-r-top">Главная страница<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    {% for current_link in links_list %}
                    <a class="nav-link" href="/{{ current_link[0] }}/btn-r-top">
                        {{ current_link[1] }}</a>
                    {% endfor %}
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Меню слева сверху -->
{% elif which_button == "btn-l-top" %}

<nav class="navbar navbar-light bg-light fixed-top">
    <div class="container">

        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarNav_l"
                aria-controls="navbarNav_l" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand">
            <img src="../static/images/rocket.svg" width="30" height="30"
                 class="d-inline-block align-top" alt="">
            Exoplanets
        </a>
        <div class="collapse navbar-collapse" id="navbarNav_l">
            <ul class="navbar-nav navbar-left">
                <li class="nav-item active">
                    <a class="nav-link" href="/btn-l-top">Главная страница<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    {% for current_link in links_list %}
                    <a class="nav-link" href="/{{ current_link[0] }}/btn-l-top">
                        {{ current_link[1] }}</a>
                    {% endfor %}
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Меню слева снизу -->
{% elif which_button == "btn-l-btm" %}

<nav class="navbar navbar-light bg-light fixed-bottom">
    <div class="container">

        <div class="collapse navbar-collapse" id="navbarToggleExternalContent_l_btm">
            <ul class="navbar-nav navbar-left">
                <li class="nav-item active">
                    <a class="nav-link" href="/btn-l-btm">Главная страница<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    {% for current_link in links_list %}
                    <a class="nav-link" href="/{{ current_link[0] }}/btn-l-btm">
                        {{ current_link[1] }}</a>
                    {% endfor %}
                </li>
            </ul>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarToggleExternalContent_l_btm"
                aria-controls="navbarToggleExternalContent_l_btm"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand">
            <img src="../static/images/rocket.svg" width="30" height="30"
                 class="d-inline-block align-top" alt="">
            Exoplanets
        </a>

    </div>
</nav>

<!-- Меню справа снизу -->
{% else %}

<nav class="navbar navbar-light bg-light fixed-bottom">
    <div class="container">

        <div class="collapse navbar-collapse" id="navbarToggleExternalContent">

            <ul class="navbar-nav navbar-right">
                <li class="nav-item active">
                    <a class="nav-link" href="/btn-r-btm">Главная страница<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    {% for current_link in links_list %}
                    <a class="nav-link" href="/{{ current_link[0] }}/btn-r-btm">
                        {{ current_link[1] }}</a>
                    {% endfor %}
                </li>
            </ul>
        </div>

        <a class="navbar-brand">
            <img src="../static/images/rocket.svg" width="30" height="30"
                 class="d-inline-block align-top" alt="">
            Exoplanets
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarToggleExternalContent"
                aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    </div>
</nav>

{% endif %}

{% if which_button == "btn-l-btm" or which_button == "btn-r-btm" %}
{% set top_padding = "10" %}
{% set bottom_padding = "70" %}
{% else %}
{% set top_padding = "70" %}
{% set bottom_padding = "10" %}
{% endif %}

<!-- Begin page content -->
<div class="container bg-dark text-light"
     style="padding-top: {{ top_padding }}px; padding-bottom: {{ bottom_padding }}px;"
     id="content">
    {% block content %}{% endblock %}
</div>
</body>

</html>