{% extends "base.html" %}

{% block title %}

{% endblock %}

{% block content %}

<h3 class="heading">Главная</h3>

<h6>На этом сайте вы можете посмотреть информацию о нескольких известных экзопланетах.</h6>
<p>(Все материалы взяты из Википедии)</p>
<br>
<hr class="bg-light">
<br>
<p class="text-justify">
    <strong>Экзоплане́та</strong> (от др.-греч. ἔξω, exō — «вне», «снаружи»), или
    <strong>внесолнечная планета</strong>, — планета, находящаяся вне Солнечной системы. Долгое
    время задача обнаружения планет возле
    других звёзд оставалась неразрешённой, так как планеты чрезвычайно малы и тусклы по
    сравнению со звёздами, а сами звёзды находятся далеко от Солнца (ближайшая — на расстоянии
    4,24 световых года). Первые экзопланеты были обнаружены в конце 1980-х годов.
</p>

<div class="pic-container">
    <img src="../static/images/1012px-Ocean_world.png"
         class="exoplanet-picture "
         alt="Картинка">
    <p>Гипотетически существующий тип экзопланет — планета-океан с двумя спутниками в представлении
        художника</p>
</div>

<p class="text-justify">
    По состоянию на 26 марта 2022 года достоверно подтверждено существование 4979 экзопланет в
    3669 планетных системах, из которых в 814 имеется более одной планеты.
</p>
<p class="text-justify">
    Общее количество экзопланет в галактике Млечный Путь оценивается не менее чем в 100
    миллиардов[4], из которых от
    5 до 20 миллиардов, возможно, являются «землеподобными». Также, согласно текущим оценкам, около
    34 % солнцеподобных звёзд имеют в обитаемой зоне планеты, сравнимые с Землёй
</p>


{% endblock %}
