{% extends "base.html" %}

{% block title %}
Звезда Барнарда b
{% endblock %}

{% block content %}

<h4 class="heading">Проксима Центавра b</h4>
<div class="pic-container">
    <img src="../static/images/proxima_b.jpg"
         class="exoplanet-picture"
         alt="Картинка">
</div>

<p class="text-justify paragraph">
    <strong>Про́ксима Цента́вра b</strong> (также известна как <strong>Проксима b</strong>) —
    экзопланета, вращающаяся вокруг красного
    карлика Проксима Центавра, ближайшей к Солнцу звезды. Также возможно обозначение Альфа Центавра
    C b, так как Проксима Центавра является третьей (наименьшей) звёздной компонентой в системе
    Альфа Центавра.

    Расположена на расстоянии примерно 4,22 светового года (1,3 парсека, 40 трлн км) от Земли в
    созвездии Центавра. Является ближайшей известной экзопланетой и одновременно ближайшей
    экзопланетой, находящейся в зоне обитаемости.

    Об открытии было объявлено 24 августа 2016 года сотрудниками Европейской южной обсерватории.
    Планета была обнаружена методом радиальных скоростей, при котором периодическое смещение
    спектральных линий в спектре звезды, обусловленное эффектом Доплера, позволяет определить
    наличие планеты на орбите вокруг звезды.
</p>

<div class="pic-container">
    <img src="../static/images/proxima_b_artist_view.jpg"
         class="exoplanet-picture "
         alt="Картинка">
    <p>Предполагаемый ландшафт экзопланеты в представлении художника</p>
</div>

<h5>Жизнепригодность</h5>
<div class="text-justify">
    <p>
        Неизвестно, является ли планета пригодной для жизни. Было заявлено, что орбита находится в
        пределах обитаемой зоны Проксимы Центавра — в области, где при надлежащих условиях и
        свойствах
        атмосферы жидкая вода может существовать на поверхности планеты. Её наличие не противоречит
        известным климатическим моделям и различным вариантам состава атмосферы — от полного
        покрытия
        поверхности при парциальном давлении CO2 ≳ 1 бар, до небольшого скопления ледников на
        полярных
        шапках при давлении CO2 ∼0.5 бар.
    </p>
    <p>
        Согласно оценке, Проксима Центавра b в настоящее время получает в 60 раз больше
        высокоэнергетического излучения, чем Земля и рентгеновское излучение в 400—404 раза больше,
        чем
        Земля, это при том, если у этой экзопланеты нет магнитного поля, а общее количество
        полученного
        излучения с момента образования превышает в 7-16 раз количество излучения, полученного
        Землёй. Такие показатели допускают возможность существования биосферы, использующей
        биологическую флуоресценцию как защитный механизм от вспышек ультрафиолетового излучения
        Проксимы Центавра. Данное явление, известное у некоторых видов коралловых полипов,
        теоретически
        может наблюдаться как временная биосигнатура на экзопланетах, обращающихся вокруг звёзд с
        активным УФ-излучением.
    </p>
    <p>
        Астрономы зарегистрировали мощную вспышку на родительской звезде в марте 2017 года с помощью
        радиотелескопа Atacama Large Millimeter Array. Её яркость увеличилась на протяжении 10
        секунд в
        1000 раз. Этой вспышке предшествовала более слабая вспышка на Проксиме Центавра, длившаяся
        менее
        2 минут. Проксима Центавра b должна была получить огромную дозу радиации, поэтому, если на
        планете существовала биосфера, это было для неё катастрофическим событием. Как отметила одна
        из
        исследователей, Мередит МакГрегор (Meredith MacGregor), подобные многочисленные вспышки
        могли
        лишить планету атмосферы или океана и сделать её поверхность абсолютно безжизненной.
    </p>
</div>

<div class="pic-container">
    <img src="../static/images/proxima_b_hubble.jpg"
         class="exoplanet-picture "
         alt="Картинка">
    <p>Проксима Центавра, снимок телескопа Хаббл</p>
</div>


{% endblock %}
