{% extends "base.html" %}

{% block title %}
TOI-700 d
{% endblock %}

{% block content %}

<h4 class="heading">TOI-700 d</h4>
<div class="pic-container">
    <img src="../static/images/TOI700d_from_afar.jpg"
         class="exoplanet-picture"
         alt="Картинка">
</div>

<p class="text-justify paragraph">
    <strong>TOI-700 d —</strong> экзопланета, вероятно каменная, вращающаяся вокруг красного
    карлика TOI-700 на расстоянии 101,4 световых лет от Солнца в созвездии Золотой Рыбы. Является
    четвертой по удалённости планетой в системе TOI-700. Обнаружена телескопом для поиска экзопланет
    транзитным методом TESS, и является первой экзопланетой земной группы, находящейся в
    обитаемой зоне своей звезды, открытой на этом телескопе.
</p>

<h5>Обнаружение</h5>
<p class="text-justify">
    TOI-700 d была обнаружена 7 января 2020 года телескопом для поиска экзопланет транзитным методом
    TESS.
</p>

<h5>Характеристики</h5>
<p class="text-justify">
    TOI-700 d — экзопланета земной группы, радиус и масса экзопланеты аналогичны земным: оценочная
    масса — около 1,6 M⊕, радиус — около 1,14 R⊕
</p>

<div class="pic-container">
    <img src="../static/images/TOI700d.jpg"
         class="exoplanet-picture "
         alt="Картинка">
    <p>Поверхность суперземли в
        представлении художника</p>

</div>

<h5>Обитаемость</h5>
<p class="text-justify">
    TOI-700 d имеет орбиту в обитаемой зоне звезды TOI-700, однако обитаемая зона вблизи красных
    карликов расположена очень близко к звезде, что приводит планеты к приливному захвату (то есть
    все три планеты всегда обращены одной стороной к своей звезде, как Луна по отношению к Земле).
    Это может вызвать разницу температур в разных полушариях (ночном и дневном), поскольку на
    дневном полушарии всегда тепло (может быть — очень жарко), а на ночном температура может
    приближаться к абсолютному нулю. Плотная атмосфера могла бы обеспечить некоторый перенос тепла
    на теневое полушарие, но это, в свою очередь, вызовет сильные ветры. За 11 месяцев наблюдений у
    красного карлика TOI-700 не было зафиксировано вспышек, что повышает шансы на обитаемость
    четвертой планеты. Поток излучения, получаемый планетой от материнской звезды, составляет 86 %
    потока, который Земля получает от Солнца.
</p>

<h5>Орбита</h5>
<p class="text-justify">
    TOI-700 d — самая далёкая планета в системе. Делает оборот вокруг материнской звезды за 37,43
    дня.
</p>
<div class="pic-container">
    <img src="../static/images/TOI-700_multiplanetary_system.jpg"
         class="exoplanet-picture "
         alt="Картинка">
</div>

{% endblock %}
